body {
	font-family: Arial, sans-serif;
	background-color: #f2f2f2;
	margin: 0;
	padding: 0;
}

.topnav {
	display: flex;
	align-items: center;
	background-color: blue;
	overflow: hidden;
}

.topnav a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 1.7% 20px;
	text-decoration: none;
	font-size: 18px;
}

.topnav a:hover {
	background-color: white;
	color: orange;
}

.topnav a.active {
	background-color: orange;
	color: white;
}

.lista_produtos table {
	width: 100%;
	border-collapse: collapse;
}

.lista_produtos th,
.lista_produtos td {
	padding: 8px;
	text-align: left;
	border-bottom: 1px solid #ddd;
}

.lista_produtos img {
	max-width: 100px;
	height: auto;
}

.lista_produtos input[type="button"] {
	padding: 6px 12px;
	background-color: orange;
	color: white;
	border: none;
	cursor: pointer;
}

.lista_produtos input[type="button"]:hover {
	background-color: darkorange;
}

#carrinho {
	max-width: 600px;
	margin: 20px auto;
	padding: 20px;
	background-color: #fff;
	border: 1px solid #ddd;
}

#carrinho h2 {
	margin-top: 0;
}

#itens-carrinho {
	list-style-type: none;
	padding: 0;
}

#itens-carrinho li {
	padding: 8px 0;
	border-bottom: 1px solid #ddd;
}

#total {
	font-weight: bold;
	margin-top: 20px;
}

input {
	padding: 6px 12px;
	background-color: orange;
	color: white;
	border: none;
	cursor: pointer;
}

input[type="text"], [type="email"] {
  background-color: white;
  border: 1px solid #dddddd;
  margin-bottom: 15px;
  width: 95%;
  color: black;
  cursor: text;
}

#pedidos, #formulario {
	max-width: 600px;
	margin: 20px auto;
	padding: 20px;
	background-color: #fff;
	border: 1px solid #ddd;
  color: black;
}

#pedidos h2 {
	margin-top: 0;
}

#lista-pedidos {
	list-style-type: none;
	padding: 0;
}

#lista-pedidos li {
 	padding: 8px 0;
	border-bottom: 1px solid #ddd;
}

#lista-pedidos ul {
	padding-left: 20px;
}

#lista-pedidos ul li {
	padding: 4px 0;
}

.item-carrinho {
	display: flex;
	align-items: center;
	justify-content: left;
  }
  
.remover-button {
	padding: 4px 10px;
	border: none;
	border-radius: 50%;
	cursor: pointer;
	font-size: 14px;
	color: #fff;
}

.adicionar-button {
	padding: 4px 8px;
	border: none;
	border-radius: 50%;
	cursor: pointer;
	font-size: 14px;
	color: #fff;
}
  
.remover-button {
	margin-left: 10px;
	margin-right: 10px;
	background-color: red;
}
  
.adicionar-button {
	background-color: green;
}
